.jumbotron {
    background-color:rgb(0, 255, 255);
    color: rgb(27, 17, 17);
    margin-top: 0px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(0, 255, 234);
    margin-bottom: 0px;
    margin-top: 10px;
}  

.card-juego {
    flex: 1 150px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}  

.btn-entra {
    width: 100%;
    border-radius: 0px;
}

.footer-addres-icon {
    padding-right: 10px;
}    